@using EntityLayer.Concrete;
@model List<AppUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int counter = 0;
}
<div class="container">
    <h1>Comment List</h1>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>User</th>
                <th>UserName</th>
                <th>Email</th>
                <th>Delete</th>
                <th>Edit</th>
                <th>Comments</th>
                <th>Tout History</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @(counter++)
                ;
                <tr>
                    <td>@counter</td>
                    <td>@item.Name @item.Surname</td>
                    <td>@item.UserName</td>
                    <td>@item.Email</td>
                    <td><a class="btn btn-danger" asp-action="Delete" asp-controller="User" asp-area="Admin" asp-route-Id="@item.Id" style="color:white" onclick="return confirmDelete();">Delete</a></td>
                    <td><a class="btn btn-warning" asp-action="Edit" asp-controller="User" asp-area="Admin" asp-route-Id="@item.Id" style="color:white">Edit</a></td>
                    <td><a class="btn btn-primary" asp-action="Comments" asp-controller="User" asp-area="Admin" asp-route-Id="@item.Id" style="color:white">Comments</a></td>
                    <td><a class="btn btn-info" asp-action="Reservations" asp-controller="User" asp-area="Admin" asp-route-Id="@item.Id" style="color:white">Tour History</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    function confirmDelete() {
        var result = confirm("Are you sure you want to delete this item?");
        if (result) {
            // User confirmed, perform delete action
            return true;
        } else {
            // User cancelled, do not perform delete action
            return false;
        }
    }
</script>


<div class="buy-now">
    <a asp-action="AddUser" asp-area="admin" asp-controller="User"
       target="_blank"
       class="btn btn-success btn-buy-now">Add new User</a>
</div>